<div>
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<div class="form-horizontal" role="form">
				<div class="form-group">
					<label class="control-label col-sm-4">Choose one of our options</label>
					<div class="col-sm-8">
						<div>
							<div class="clearfix insurance-image-choice">
                                <img src="https://comparison.check24.de/Resources/Images/Dialog/RS-Icons_Privat-1.png" class="checked">
                                <span>Privat</span>
                            </div>
                            <div class="clearfix insurance-image-choice">
                                <img src="https://comparison.check24.de/Resources/Images/Dialog/RS-Icons_Privat-1.png" class="checked">
                                <span>Privat</span>
                            </div>
                            <div class="clearfix insurance-image-choice">
                                <img src="https://comparison.check24.de/Resources/Images/Dialog/RS-Icons_Verkehr-1.png" class="checked">
                                <span>Privat</span>
                            </div>
                            <div class="clearfix insurance-image-choice">
                                <img src="https://comparison.check24.de/Resources/Images/Dialog/RS-Icons_Mieter-2.png" class="checked">
                                <span>Privat</span>
                            </div>
                            <div class="clearfix insurance-image-choice">
                                <img src="https://comparison.check24.de/Resources/Images/Dialog/RS-Icons_Vermieter-2.png" class="checked">
                                <span>Privat</span>
                            </div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="some_options" class="col-sm-4 control-label">Choose some more from these options</label>
					<div class="col-sm-8">
						<select class="form-control" id="some_options">
							<option>option 1</option>
							<option>option 2</option>
							<option>option 3</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="first_price_range" class="control-label col-sm-4">Choose some price range</label>
					<div class="col-sm-8">
						<div class="row">
							<label for="first_price_range" class="control-label col-xs-2">From</label>
							<div class="col-xs-10">
								<input type="tel" class="form-control" id="first_price_range" placeholder="First price range">
							</div>
						</div>
						<div class="row">
							<label for="second_price_range" class="control-label col-xs-2">To</label>
							<div class="col-xs-10">
								<input type="tel" class="form-control" id="second_price_range" placeholder="First price range">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 hidden-xs">
			I will help you with some text.
		</div>
	 </div>
</div>